<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
  </configSections>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
  </startup>
  <connectionStrings>
    <!--<add name="DefaultConnection" connectionString="Data Source=(local);Initial Catalog=Predix-Local;Integrated Security=True;" providerName="System.Data.SqlClient" />-->
    <add name="DefaultConnection" connectionString="Data Source=SQL0210229;Initial Catalog=Predix-Final;Persist Security Info=True;User ID=duncan;Password=n0_Pr3ssure;MultipleActiveResultSets=True"
         providerName="System.Data.SqlClient"/>
  </connectionStrings>
  <appSettings>

    <!--Staging ClientId and Secrete -->
    <!--<add key="ClientId" value="civicsmart" />
    <add key="ClientSecrete" value="C1v1cSmart" />-->

    <!--GE/Atlanta ClientId and Secrete -->
    <add key="ClientId" value="SSomanchi" />
    <add key="ClientSecrete" value="CivicSmart2" />

    <add key="IgnoreRegulationCheck" value="false" />
    <add key="MarkAllAsViolations" value="true" />
    <add key="RefreshLocations" value="true" />
    <add key="SaveEvents" value="true" />
    <add key="SaveImages" value="true" />
  </appSettings>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-10.0.0.0" newVersion="10.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.LocalDbConnectionFactory, EntityFramework">
      <parameters>
        <parameter value="mssqllocaldb" />
      </parameters>
    </defaultConnectionFactory>
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>
</configuration>